* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
#root {
  height: 100%;
}
body {
  height: 100%;
}
p,
div {
  /*disable paragraph selection*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
a {
  text-decoration: none;
}
p,
a,
span {
  display: inline-block;
  font-size: 1vw;
  font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin",
    "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  color: white;
}
div {
  color: white;
}
#navbar {
  border: 1px solid black;
  width: 100%;
  display: flex;
  background-color: black;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  min-height: 8vh;
}
.dropDownButton {
  width: 5%;
}
.dropDownButton div {
  background-color: white;
  width: 2.5vw;
  height: 0.5vh;
  margin: 0.5vw;
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.nav-links img {
  width: 50%;
}
.nav-links {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
.nav-links img {
  width: 50%;
}
.socialMedia {
  display: none;
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    width: 40%;
    height: 92vh;
    top: 8vh;
    right: 0;
    flex-direction: column;
    background-color: rgb(36, 36, 36);
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .nav-links img {
    width: 30%;
  }
  .nav-links a {
    opacity: 0;
  }
  .socialMedia {
    display: block;
  }
}
.links-In {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.background {
  width: 100%;
  height: 100%;
  background-image: url("/Layout_RWD/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes backgroundShrink {
  from {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
/*background*/
.background p {
  position: relative;
  font: Helvetica, Arial, sans-serif;
}
/*release info*/
.release {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.info {
  width: 40%;
  height: 60%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.info a,
.info p {
  color: black;
}
.News_Media {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
}
.News_Media div {
  width: 30%;
  height: 60%;
  margin-top: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.newsDescription {
  width: 100%;
  text-align: left;
  font-size: 1vw;
  align-content: center;
  font-family: "YuGo-Medium", "YuGothic Medium", Helvetica, Arial, sans-serif;
}
#discography {
  width: 100%;
  height: 50%;
  background-color: rgb(32, 32, 32);
  display: flex;
  justify-content: space-evenly;
}
#discography a {
  font-size: 1.5vw;
}
.album,
.musicVideo {
  width: 40%;
  height: 65%;
  margin-top: 3%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.musicInfo {
  font: 2vw "AvenirNext", "Avenir Next", Helvetica, sans-serif;
}
.photo {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/*live div*/
#live {
  width: 100%;
  height: 50%;
  background-color: black;
}
.liveInfo {
  width: 80%;
  position: relative;
  top: 30%;
  left: 10%;
}
.row {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3%;
}
.year {
  margin-right: 3%;
}
.date {
  font-size: 2vw;
  font-weight: bold;
  margin-right: 5%;
}
.friday {
  background-color: rgb(85, 85, 85);
  width: 4vw;
  height: 4vw;
  font-size: 1vw;
  line-height: 4vw;
  text-align: center;
  margin-right: 5%;
}
.saturday {
  background-color: rgb(23, 61, 145);
  width: 4vw;
  height: 4vw;
  line-height: 4vw;
  text-align: center;
  font-size: 1vw;
  margin-right: 5%;
}
.japaneseTextTitle {
  font-family: "YuGo", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1vw;
  text-align: left;
}
.japaneseTextSubTitle {
  font-family: "YuGo-Medium", "YuGothic Medium", Helvetica, Arial, sans-serif;
  font-size: 0.5vw;
  color: rgb(119, 119, 119);
}
/*'about' component*/
#about {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/Layout_RWD/img/about.png");
  background-position: center center;
  background-size: cover;
}
#about * {
  position: absolute;
}
/*footer component*/
.footer {
  position: relative;
  width: 100%;
  height: 50%;
  background-color: rgb(32, 32, 32);
}
